<html lang="en">
    <head>
        <title>Graph page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Plotly.js -->
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
          <style>
                button {
                background-color: white; /* Green */
                border: none;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 12px;
                }
                #button1{background-color: rgba(0, 0, 255, 0.3);}
                #button2{background-color: rgba(0, 255, 0, 0.3);}
                #button3{background-color: rgba(255, 0, 0, 0.3);}
          </style>
    </head>
     <!-- JAVASCRIPT CODE GOES HERE 
                    data created
                    twitterpost text
                    language
                    spelling score
    -->

    <body>

        <div style="background:#e5feff !important" class="jumbotron jumbotron-fluid">
            <div class="container">
                <center><img src="../static/assets/LINGO3.png" alt="Logo" style="width:330px;height:202px;"></center>
            </div>
        </div>
        <div style="margin: auto; width: 50%;">
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    
            <div style="margin: auto; width: 55%;">
                <button onclick="drawPlot(graphX, spellings, 'rgb(255, 0, 0)')" id="button1">Overall</button>
                <button onclick="drawPlot(graphX, spellings, 'rgb(0, 255, 0)')" id="button2">Grammar</button>
                <button onclick="drawPlot(graphX, spellings, 'rgb(0, 0, 255)')" id="button3">Spelling</button> 
            </div>
            <div id="howarefriends" style="margin: auto; width: 40%;">
              <button onclick="enterfriendFunction()" id="button4" >How are my friends doing?</button>
            </div>
            <div id="twitterfriend" style="display:none">
              <form >
              Twitter Handle:
              <input type="text" name="handle">
              <input type="submit" value="Submit" onclick="compareFunction()" id="button5">
              </form>
            </div>
          </div>
          <script>

            var posts= '{{posts | tojson |safe}} ';
            var languages= '{{languages | tojson |safe}} ';
            var spellings= '{{spellings | tojson |safe}} ';
            var dates= '{{dates | tojson |safe}} ';

            console.log(posts);
            console.log(JSON.parse(posts));
            console.log(dates);
            console.log(spellings);
            console.log(languages);
            //twitterResults=JSON.parse(twitterResults);
            //console.log(twitterResults);
            posts=JSON.parse(posts);
            languages=JSON.parse(languages);
            spellings=JSON.parse(spellings);
            dates=JSON.parse(dates);

            graphX=[];
            
            
            var languageTypes={};
           

            for(var i=0; i< posts.length; i++){
                graphX.push(i);
                
                if(!(languages[i] in languageTypes)){
                    languageTypes[languages[i]]=1
                }else{
                    languageTypes[languages[i]]+=1;
                }
            }
            console.log("xaxis", graphX);
            console.log("spellingScore", spellings);
            console.log("languagetypes", languageTypes);

            //drawPlot(graphX, spellings);

           function enterfriendFunction() {
              document.getElementById("twitterfriend").style.display = "block";
              document.getElementById("twitterfriend").style.margin = "auto";
              document.getElementById("twitterfriend").style.width = "50%";
              document.getElementById("howarefriends").style.display = "none";
              document.getElementById("twitterfriend").style.padding = "10px";
              //document.getElementById("twitterfriend").innerHTML = "You must be kidding! You don't have friends to begin with";
            };

        function drawPlot(graphX, graphY, lineColor){
          var trace1 = {
              x: graphX,
              y: graphY,
              mode: 'lines+markers',
              line: {
            color: lineColor,
            width: 3
          }
            };
            var layout = {
          showlegend: false,
          height: 600,
          width: 600,
          xaxis: {
            showline: true,
            showgrid: false,
            showticklabels: true,
            linecolor: 'rgb(204,204,204)',
            linewidth: 2,
            autotick: true,
            ticks: 'outside',
            tickcolor: 'rgb(204,204,204)',
            tickwidth: 2,
            ticklen: 5,
            tickfont: {
              family: 'Arial',
              size: 12,
              color: 'rgb(82, 82, 82)'
            }
          },
          yaxis: {
            showgrid: false,
            zeroline: true,
            showline: false,
            showticklabels: true,
            range: [0, Math.max.apply(Math, graphY)]
          },
          autosize: false,
          margin: {
            autoexpand: false,
            l: 100,
            r: 20,
            t: 100
          },
          annotations: [
            {
              xref: 'paper',
              yref: 'paper',
              x: 0.0,
              y: 1.05,
              xanchor: 'left',
              yanchor: 'bottom',
              text: '',
              font:{
                family: 'Arial',
                size: 30,
                color: 'rgb(37,37,37)'
              },
              showarrow: false
            },
            {
              xref: 'paper',
              yref: 'paper',
              x: 0.5,
              y: -0.1,
              xanchor: 'center',
              yanchor: 'top',
              text: 'Last'+ graphX.length +'posts',
              showarrow: false,
              font: {
                family: 'Arial',
                size: 20,
                color: 'rgb(150,150,150)'
              }
            }
          ]
        };
            var data = [trace1];
            Plotly.newPlot('myDiv', data, layout);
        }
        </script>

        

    </body>

</html>
